.lessons{
display: flex;
}
.lll{
width: 250px;
height: aute;
background-color: #27ae60;
color: black;
}
.lll ul{
list-style-type: none;
padding: 0;

}
.lll li{
    margin: 10px;
}
.lll a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 15px;
    transition: 0.3s;
}
.lll a:hover{
transform: translateY(-2px);
}
.back{
    font-size: 24px;
}
.mmm{
flex: 1;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 20px;
margin: 0 auto;
max-width: 800px;
}

.title{
    font-size: 36px;
    color: #27ae60;
    margin-bottom: 20px;
}
.word{
margin-bottom: 30px;
padding: 20px;
border-bottom: 1px solid #eee;
}
.word h2{
margin-bottom: 15px;
color:  rgb(19, 68, 25);

}
.word p{
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: justify;
}
.word ul{
    font-size: 20px;
    line-height: 1.6;
}
.table{
    
border-collapse: collapse;
text-align: center;


}
.one{
background-color: #e07a5f;
font-weight: bold;

}
.two{
    background-color: #ffc107;
    
}
.three{
    background-color: #ffc107;
}
.four{
    background-color: #ffc107;
}
.onetd{
    background-color: #e07a5f;
}
.twotd{
background-color: #e07a5f;
}
.threetd{
background-color: #e07a5f;
}
.fourtd{
background-color: #e07a5f;
}


